<div username="<%= post.name %>">
	<div class="row">
		<div class="clearfix">
			<div class="col-xs-12"></div>
			<br style="clear: both;" />
			<div class="col-md-offset-2 col-sm-offset-1 col-sm-1 col-xs-2 "><img id="logo" class="thumbnail" /></div>
			<div class="col-md-4 col-sm-5 col-xs-6 pull-left" style="text-align: left; line-height: 40px;color:#494949;"><%= post.name %></div>
			<div class="col-md-3 col-sm-4 col-xs-4 pull-left" style="text-align: right;">
				<button class="btn btn-default follow-button" username="<%= post.name %>">follow</button>
				</div>
			<div class="container col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10" >
				<img src="<%= post.image_url %>" class="img-responsive">
			</div>
			<div class="col-xs-12">
			<p style="color:#494949;">~ "<%= post.text %>"</p>
			</div>
		</div>
	</div>
</div>